<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <php>
    </php>

    <testsuites>
        <testsuite name="bc_tests">
            <directory>tests/bc</directory>
        </testsuite>
        <testsuite name="e2e_tests">
            <directory>tests/e2e</directory>
        </testsuite>
        <testsuite name="unit_tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
